/* Estilizando o fundo da página */
body {

    background-image: url('../public/imagens/4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;    
    font-family: Arial, sans-serif;
    background-color: #3c3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* Área dos ícones das redes sociais */
.social-icons {
    width: 101%;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
}

.social-icons a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ba2d11;
}

/* Container principal */
.container {
    max-width: 1500px;
    width: 99%;
    margin: 0px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Título do Cardápio */
.cardapio-titulo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    transition: color 0.3s;
    margin-bottom: 15px;
}

.logo {
    width: 20%;
    height: auto;
}

.titcardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); /* Transparência */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px; /* Diminuir espaço entre o cardápio e o resumo */

}

.cardapio-titulo:hover {
    color: #ff6600;
}

/* Layout do conteúdo principal */
.conteudo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Layout do cardápio dividido em duas colunas */
.menu-container {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    text-align: center;
    gap: 4px; /* adiciona espaçamento pequeno entre os elementos internos */
}

.menu-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 10px;
    margin: 0; /* remove a margem inferior */
}

.menu-preco {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}

/* Resumo do Pedido */
.order-summary {
    width: 30%;
    padding: 20px;
    background: #fce8e8;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.order-summary h2 {
    color: #a71414;
    font-size: 20px;
}

.pedido-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.pedido-nome {
    font-weight: bold;
}

.pedido-preco {
    color: #a71414;
}

#finalizarPedido {
    background-color: #a71414;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}


#finalizarPedido:hover {
    background-color: #ed4b4b;
}

#limparPedido {
  background-color:  #a71414;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

#limparPedido:hover {
  background-color: #ed4b4b;
}



/* Rodapé */
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
